{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartDress - le dressing connecté</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%  static "css/grayscale.css"%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background: #000;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">SmartDress</span> Par Promesse.
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Principe</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Fonctionnement</a>
                </li>
                <li>
                    <a class="page-scroll" href="#accessoires">Accessoires</a>
                </li>

                <li>
                    <a class="page-scroll" href="#equipe">Equipe</a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="brand-heading">SmartDress</h1>
                    <h2 style="font-family: 'Helvetica';">Le saviez-vous ?</h2>
                    <p class="intro-text"><strong>Une femme passe en moyenne un an de sa vie à se decider ce quelle va porter.</strong><br/>
                        <a href="#about" class="btn btn-circle page-scroll" style="color: #3A3D3D;">
                            <i class="fa fa-angle-double-down animated" style="color: #3A3D3D;"></i>
                        </a>
                </div>
                <a href="http://iseginnovationweek.epiweb.eu/" class="btn btn-default btn-lg"><span class="network-name">Votez pour nous!</span></a>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<div style="background: url({% static "img/wplanks.jpg" %}); background-repeat: repeat;">
    <section class="container content-section text-center" style="padding-top: 25px;">
    <div class="row">
    </div>
    <div>
        <h2 id="about">De quoi parlons nous ici ?</h2>
        <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                                    <img src="{% static "img/d1.jpg" %}">
                    </div>
                    <div class="item">
                                    <img src="{% static "img/d2.jpg" %}">
                    </div>
                    <div class="item">
                                    <img src="{% static "img/d3.jpg" %}">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>



        </div>
        <div class="col-lg-12" style="font-size: 32px;">
            <p>La perte de temps est votre pire ennemi ? Vous décider est votre pire perte de temps ?<br/>
                Le SmartDress se réveille avant vous pour vous choisir votre tenue de la journée.</p>
            <br/>
            <p>Il pleut ? Vous avez un entretien ? Un footing est prévu dans la journée ?<br/>
                Dégustez votre petit déjeuner, le SmartDress s’occupe de préparer votre tenue.</p>
        </div>

    </div>
    </section>
</div>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center" style="padding-top: 25px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Comment ça marche ?</h2>
            <p style="text-align: left">L’utilisateur accède à son SmartDress grâce a une tablette connectée à ce dernier.
                La tablette sera connectée a internet pour l’accès a la météo en temps réel et a l’agenda de l’utilisateur
                Puis l’utilisateur aura le choix entre deux modes, le mode manuel et le mode automatique
                Pour intégrer un habit au dressing, l’utilisateur aura a sa disposition des puces qu’il intégrera aux vêtements qu’il range dans la branche entrée du dressing, ensuite une photo sera prise latéralement au moment ou l’habit sera poser sur la branche d’entrée.
                Puis à ce moment l’utilisateur devra paramétrer sur la tablette via l’application l’habit selon sa couleur, son type et son thème
                Puis l’habit partira dans la branche principale circulaire ou sera poser un capteur, ce capteur tournera à 380 DEGRES pour trouver l’habit cible.
                Vous entrez donc un thème par exemple « entretien » sur votre tablette, toutes vos tenues correspondant à ce thème vous sont proposées sur votre tablette, vous sélectionnez votre tenue et elle sort directement du dressing !</p>
        </div>
    </div>
</section>

<div style="background: white;">
    <section id="accessoires" class="container content-section text-center" style="padding-top: 25px;">
        <div class="row">
            <div class="col-lg-12" style="color: black;">
                <h2>Accessoires</h2>
                <div class="col-lg-6">
                    <h3>Puces</h3>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <img src="{% static "img/nfc.jpg" %}">
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <p><strong>27,99€</strong> le lot de 50 unités</p>
                </div>
                <div class="col-lg-6">
                    <h3>Cintres</h3>
                    <img src="{% static "img/cintre.jpg" %}" class="img-responsive">
                    <p><strong>25€</strong> le lot de 50 unités</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="equipe" class="container content-section text-center" style="padding-top: 25px;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>L'équipe</h2>
                <div class="row">
                    <h3>Responsables communication et Marketing</h3>
                    <img src="{% static "img/mar.png" %}" class="col-md-4 img-rounded">
                    <img src="{% static "img/cel.png" %}"  class="col-md-4 img-rounded">
                    <img src="{% static "img/cha.png" %}"  class="col-md-4 img-rounded">
                    <p class="col-md-4">Maryna Tonto</p><p class="col-md-4">Céline Jacquelin</p><p class="col-md-4">Charlene Rousson</p>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <h3>Responsables R&D</h3>
                    <img src="{% static "img/geo.png" %}" class="col-md-4 col-md-offset-2 img-rounded">
                    <img src="{% static "img/nab.png" %}"  class="col-md-4 img-rounded">
                    <p class="col-md-4 col-md-offset-2">Geoffroy Massé</p><p class="col-md-4">Nabil Ismail</p>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <h3>Responsable Développement Info et Web</h3>
                    <img src="{% static "img/max.png" %}"  class="col-md-offset-4 col-md-4 img-rounded">
                    <p class="col-md-4 col-md-offset-4">Maxime Boguta</p>
                </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Groupe Promesse</p>
    </div>
    <p style="text-align: center;"><a href="mailto:contact@promesse.com">Contactez nous!</a></p>
</footer>

<!-- jQuery -->
<script src="{%  static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static "js/jquery.easing.min.js" %}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="{%  static "js/grayscale.js" %}"></script>

</body>

</html>
